<ion-header>
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Criar grupo</ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="mail" slot="start"></ion-icon>
            Nome
          </ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-button expand="block">Entrar</ion-button>
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Meus grupos</ion-card-title>
      <ion-card-content>

      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>