<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/listar-heroi"> </ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let item of retorno" fullscreen>
  <ion-card>
    <ion-img src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>{{ item.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ item.description }}</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Quadrinhos = {{ item.comics.available }}</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides pager="true" [options]="sliderConfig">
        <ion-slide *ngFor="let rQuadrinhos of retornoQuadrinhos">
          <ion-list>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title>
                  <h2>{{ rQuadrinhos.title }}</h2>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img src="{{rQuadrinhos.thumbnail.path}}.{{rQuadrinhos.thumbnail.extension}}"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Events = {{ item.events.available }}</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides pager="true" [options]="sliderConfig">
        <ion-slide *ngFor="let rEventos of retornoEventos">
          <ion-list>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title>
                  <h2>{{ rEventos.title }}</h2>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img src="{{rEventos.thumbnail.path}}.{{rEventos.thumbnail.extension}}"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Series = {{ item.series.available }}</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides pager="true" [options]="sliderConfig">
        <ion-slide *ngFor="let rSeries of retornoSeries">
          <ion-list>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title>
                  <h2>{{ rSeries.title }}</h2>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img src="{{rSeries.thumbnail.path}}.{{rSeries.thumbnail.extension}}"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <!--
      <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Stories = {{ item.stories.available }}</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides pager="true" [options]="sliderConfig">
        <ion-slide *ngFor="let rStories of retornoStories">
          <ion-list>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title>
                  <h2>{{ rStories.title }}</h2>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img src="{{rStories.thumbnail.path}}.{{rStories.thumbnail.extension}}"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
-->
</ion-content>