<ion-header>
  <ion-toolbar *ngFor="let rPersonagem of retornoPersonagem">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/listar-heroi"> </ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let rPersonagem of retornoPersonagem" fullscreen>
  <div>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="7">
            <ion-item>
              <ion-label>Favoritar na lista</ion-label>
              <ion-select placeholder="" okText="escolher" cancelText="cancelar" [(ngModel)]="favoritoSelect">
                <ion-select-option *ngFor="let rFav of retornoFav" value="{{ rFav.id }}">
                  {{ rFav.nome }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="5">
            <ion-item>
              <ion-button (click)="enviarSelect(favoritoSelect, rPersonagem.name, rPersonagem.thumbnail.path)">
                Favoritar</ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </div>
  <ion-card>
    <ion-img src="{{rPersonagem.thumbnail.path}}.{{rPersonagem.thumbnail.extension}}"></ion-img>
    <ion-card-header>
      <!--<ion-card-subtitle>Destination</ion-card-subtitle>-->
      <ion-card-title>{{ rPersonagem.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="ion-text-justify">
        {{ rPersonagem.description }}
      </ion-item>
      <!-- IBBBBBBMMM
      <ion-item *ngFor="let tDescTraduzida of textoDetalhesTraduzido">
        {{ tDescTraduzida.translation }}
      </ion-item>
      -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-chip>
        <ion-card-title>
          Quadrinhos
          <ion-badge>{{ rPersonagem.comics.available }}</ion-badge>
        </ion-card-title>
      </ion-chip>
    </ion-card-header>
    <ion-card-content>
      <ion-slides pager="true" [options]="sliderConfig">
        <ion-slide *ngFor="let rQuadrinhos of retornoQuadrinhos">
          <ion-list>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title>
                  <h2>{{ rQuadrinhos.title }}</h2>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img src="{{rQuadrinhos.thumbnail.path}}.{{rQuadrinhos.thumbnail.extension}}"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-chip>
        <ion-card-title>
          Eventos
          <ion-badge>{{ rPersonagem.events.available }}</ion-badge>
        </ion-card-title>
      </ion-chip>
    </ion-card-header>
    <ion-card-content>
      <ion-slides pager="true" [options]="sliderConfig">
        <ion-slide *ngFor="let rEventos of retornoEventos">
          <ion-list>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title>
                  <h2>{{ rEventos.title }}</h2>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img src="{{rEventos.thumbnail.path}}.{{rEventos.thumbnail.extension}}"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-chip>
        <ion-card-title>
          Series
          <ion-badge>{{ rPersonagem.series.available }}</ion-badge>
        </ion-card-title>
      </ion-chip>
    </ion-card-header>
    <ion-card-content>
      <ion-slides pager="true" [options]="sliderConfig">
        <ion-slide *ngFor="let rSeries of retornoSeries">
          <ion-list>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title>
                  <h2>{{ rSeries.title }}</h2>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img src="{{rSeries.thumbnail.path}}.{{rSeries.thumbnail.extension}}"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <!--
      <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Stories
        <ion-badge>{{ rPersonagem.stories.available }}</ion-badge>
      </ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides pager="true" [options]="sliderConfig">
        <ion-slide *ngFor="let rStories of retornoStories">
          <ion-list>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title>
                  <h2>{{ rStories.title }}</h2>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img src="{{rStories.thumbnail.path}}.{{rStories.thumbnail.extension}}"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
-->
</ion-content>