<ion-header>
  <ion-toolbar>
    <ion-title>Heróis</ion-title>
  </ion-toolbar>
</ion-header>

<!-- REFERENCIA: https://imasters.com.br/apis-microsservicos/ionic-3-consumindo-api-da-marvel -->

<ion-content>
  <ion-content>
    <ion-list>
      <ion-item (click)="heroiChamar(item.id)" *ngFor="let item of retorno">
        <ion-avatar item-left>
          <ion-img src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}"></ion-img>
        </ion-avatar>
        <h2>{{ item.name }}</h2>
        <ion-button href="detalhes-heroi/{{ item.id }}" expand="block">
          detalhes
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-item>
          Hero
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item>
          Bestr
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item>
          Colu
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item>
          wekw
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>