<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="mail" slot="start"></ion-icon>
            E-mail
          </ion-label>
          <ion-input [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="lock" slot="start"></ion-icon>
            Senha
          </ion-label>
          <ion-input type="password" [(ngModel)]="senha"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="entrar()">Entrar</ion-button>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
<ion-footer>
  <!-- ROUTER LINK É MEÇLHOR QUE href PARA FAZER ROTAS -->
  <ion-button routerLink="/criar-conta" expand="block" fill="clear">
    Cadastre-se
  </ion-button>
</ion-footer>



<!--
  LOGIN DO VIDEOO

<ion-content>
  <section *ngIf="(afAuth.user | async) as user; else loginItems">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ user.email }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </section>

  <section>
    <ion-button (click)="criarConta()">Registrar</ion-button>
    <ion-button (click)="login()">Logar</ion-button>
    <ion-button (click)="logout()">Sair</ion-button>
  </section>

  <ng-template #loginItems>
    <h1>You need to log in</h1>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user.senha"></ion-input>
    </ion-item>
  </ng-template>
</ion-content>
-->