<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/listar-favorito"> </ion-back-button>
    </ion-buttons>
    <ion-title>Herois Favoritados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>NOME DO FAVORITO</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let hFavs of heroisFavorito | async">
        <ion-thumbnail slot="start">
          <ion-img src="{{hFavs.img}}.jpg"></ion-img>
        </ion-thumbnail>
        <ion-note> {{ hFavs.nome }} </ion-note>
        <ion-button color="danger" (click)="apagar(hFavs.id)">Apagar</ion-button>
      </ion-item>
      <!--
      <ion-item *ngFor="let rHeroi of retornoX">
        <ion-thumbnail slot="start">
          <ion-img src="{{rHeroi.thumbnail.path}}.{{rHeroi.thumbnail.extension}}"></ion-img>
        </ion-thumbnail>
        <ion-label> {{ rHeroi.name }} </ion-label>
        <ion-button color="danger" (click)="apagar(hFavs.id)">Apagar</ion-button>
      </ion-item>
    -->
    </ion-card-content>
  </ion-card>
</ion-content>